<ul>
  <li><%= link_to 'Home', root_path %></li>
</ul>

<main>
    <h1>John Doe</h1>
    <h2>Rails Sergeant</h2>
    <hr>
    <section>
        <h2>Skills:</h2>
        <ul>
            <li>Ruby On Rails</li>
            <li>Ruby</li>
            <li>JavaScript</li>
        </ul>
    </section>
    <section>
        <h2>About me:</h2>
        <p>Made in USSR</p>
    </section>
</main>
